APP_ENV=development
APP_NAME=MLOps
LOG_LEVEL=INFO
GPU_ID=0
CONFIG_DIR=apps/vision_service/configs

# Telegram worker
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here
REDIS_CHANNEL=helmet_violations
TELEGRAM_MIN_CONSEC_NO_HELMET_FRAMES=3
TELEGRAM_SNAPSHOT_SOURCE=probe
